.main_chat
  .main-header
    .main-header__left-box
      =@group.name
      %ul.main-header__left-box__member
        member = 
        %li.main-header__left-box__member__username
          - @group.users.each do |user|
            =user.name
    .main-header__edit__btn
      =link_to edit_group_path(@group) ,class:"btn"do
        Edit 
  .message
    = render @messages
    -# .message
    -#   .message__list  
    -#     %p.message__list__info
    -#       = message.user.name 
    -#     %p.message__list__time
    -#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    -#   .message__text
    -#     - if message.content.present?
    -#       %p.message__text__list
    -#         = message.content
    -#     = image_tag message.image.url, class: 'lower-message__image' if message.image.present?    
  .footer
    .form_box
      = form_for [@group, @message] do |f|
        = f.text_field :content,class:'form_box__text', placeholder: 'type a message'

        .icon
          = f.label :image, class:'form_box__image' do
            =icon('fa','image',class: 'icon')
            = f.file_field :image,class: 'form_box__hidden'
        = f.submit 'Send' , class: 'submit__btn'
